VITE_MODRINTH_API_URL=https://staging-api.modrinth.com/
VITE_MODRINTH_USER_AGENT=ariadnes-thread/development
VITE_WEBSITE_DOMAIN_URL=https://your-domain.tld
VITE_DONATION_URL=https://your-donation-site.com
VITE_MAX_REQUESTS_PER_MINUTE=300
VITE_RESET_INTERVAL_IN_SECONDS=60
VITE_MAX_REQUEST_RETRIES=5
VITE_RETRY_BACKOFF_STRATEGY=fixed
VITE_RETRY_DELAY_IN_MS=1000
